header{
    width: 100vw;
    height: 9.8vh;
    text-align: center;
    border-bottom: 0.2vh solid black;
    font-weight: bolder;
    background-color: #1b3b48;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h1{
    font-size: 350%;
    color: white;
    letter-spacing: 5px;
    padding-top: 1vh;
}
main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 82vh;
    background: linear-gradient(45deg, #ff649d57, #f5c779dc);
}
#left{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    
}

img{ 
    width: 90%; 
}  
a {
    margin-top: 1vh;
    color: #dbf7e9;
    text-decoration: none;
  }
#mailto{
    color:  #1b3b48;
}
.contactImg{
    height: 5vh;
    width: 5vh;
    padding-right: 1vh;
    margin-top: -1vh;
}
form{
    display: flex;
    flex-direction: column;
    padding-top: 16vh;
    padding-left: 24vh;
}
input{
    width: 70%;
    height: 30px;
    margin-bottom: 3vh;
    border: 2px solid  #1b3b48;
}


#messageInput{
    height: 27vh;
    
}

#sendButton{
    margin-left: 15%; 
    
    width: 40%;
    margin-bottom: 2vh;
    height: 8%;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid #1b3b48;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
}
#sendButton:hover{
    border-color: #aea0f5;
    color: #aea0f5;
}
#info{
    display: flex;
    flex-direction: row;
    height: 65%;
    width: 100%;
    padding-top: 2vh;
    justify-content: space-around;
      
}
#right{
    width: 40%;
    height: 100%;
}
footer{
    width: 100vw;
    height: 8vh;
    background-color: #1b3b48;
}

@media (max-width: 1000px) { 
    main {
      flex-direction: column;
    }

    main{
        display: flex;
        flex-direction: column;
        height: 80vh;
    }

    #left{
        height: 30vh;
        width: 100%;
    }
    #right{
        height: 50vh;
        width: 100%;
    }

    h1{
        font-size: 200%;
        padding-top: 2vh;
    }
    #left{
        width: 100%;
        text-align: center; 
    }
    form{
        padding-top: 0;
        padding-left: 0;
        display: flex;
        align-items: center;
    }  
    
    #messageInput{
        height: 16vh;
    }
    
    #sendButton{
        margin-left: 4%; 
    }
    footer{
        height: 10vh;

    }
    
  }