#middle-board {
  width: 50vw;
  padding-left: 3vw;
  padding-right: 3vw; 
  display: flex;
  justify-content: center;
}

#game-score {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  font-size: 200%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(39, 39, 39);
}

#score-left {
  width: 90%;
  text-align: right;  
}

#score-right {
  width: 10%;
  text-align: right;  
}

.board button {
  width: 6vh;
  height: 6vh;
  margin: 1.5vh;
  border-radius: 50px;
}

.board {
  border-radius: 15px 15px 15px 15px;
  margin-top: 45px;
  border: 10px solid rgb(39, 39, 39);
  background-color: #1b3b48; 
}

.board button.hidden {
  visibility: hidden;
}

.board button.peg {
  border: 1px solid #000000 ;   
  background: radial-gradient( white,  #929292a9);
}

.board button.selected {
  border: 1px solid #000000 ; 
  background: radial-gradient( #2b4869,  #000000);
}

.board button.hole {
  background-color: black; 
  border: 1px solid #000000 ; 
}

.board button.peg:hover {
  background: radial-gradient( #69afff,  #2b2929);
  border: 1px solid #97ffe9 ; 
}

.board button.suggestion {
  border: 1px solid #000000 ; 
  background: radial-gradient( #00ffaa,  #000000);
}

@media (max-width: 1000px) { 
  #middle-board {
    order: 3;
    width: 100%;
    height: 72%;
    padding-left: 0;
    padding-right: 0;  
  }

  .board button {
    width: 10vw;
    height: 10vw;
    margin: 1vw;
    border-radius: 50px;
  }

  #game-score {
    font-size: 400%;
  }

}
