#modal {
    display: none;
    position: fixed;
    flex-direction: column;
    bottom: 34%;
    left: 33.20%;
    z-index: 1;
    height: 13vw;
    width: 33vw;
    /* background: linear-gradient(45deg, #ff529298, #ffc8689a); */
    /* background-color: #1b3b48; */
    background: linear-gradient(45deg, #ff5292, #ffc868);
    border-radius: 15px 15px 15px 15px;
    border: 5px solid rgb(39, 39, 39);
}


#acceptSave, #acceptLoad, #modalLabelLose, #modalLabelWin {
    display: none;
}

#modalLabelLose, #modalLabelWin{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: white;
  text-align: center;
  height: 10%;
}

.modalInput {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#modalButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: space-around;
}

.modalButtons {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15px 15px 15px 15px;
    font-weight: bolder;
    border: 5px solid rgb(39, 39, 39);
    color: #1b3b48;
    width: 40%;
    height: 80%;
}
#acceptSave, #acceptLoad{
  background: linear-gradient(0deg, #ff9b49, #ffb743);
}
#cancel{
  background: linear-gradient(0deg, #fd527d, #ff5593);
}

@media (max-width: 1000px) { 
  #modal {
    bottom: 58.5%;
    left: 6%; 
    z-index: 1;
    height: 50vw;
    width: 87vw;
  }

  #modalLabelLose, #modalLabelWin{
    font-size: 300%;
  }
  .modalButtons {  
    height: 70%;
    font-size: 300%;
  }
}
 @media (max-height: 1200px) and (max-width: 1000px ) {
  #modal{
    bottom: 35%;
    left: 5%;
  }
} 