header {
  width: 100vw;
  height: 9.8vh; 
  vertical-align: middle;
  background-color: #1b3b48;   
  border-bottom: 0.2vh solid black;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;  
}
  
h1 {
  font-size: 350%;
  color: white;
  letter-spacing: 5px;
}

@media (max-width: 1000px) { 
  h1 {
    padding-top: 2vh;
    font-size: 600%;
    letter-spacing: 1px;
  }
}  