main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 82vh;
  background: linear-gradient(45deg, #ff649d57, #f5c779dc);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 60%;
}
  
input {
  width: 70%;
  height: 30px;
  margin-bottom: 2vh;
  border: 2px solid  #1b3b48;
}

#left {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  text-align: right;    
}

#left img {
  width: 90%; 
  border: 4px solid #1b3b48;
}

#right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}

#message-input {
  height: 27vh;    
}

#right a {
  width: 40%;
  height: 10%;
  margin-top: 3.75vh; 
  margin-left: 4%;
  margin-bottom: -1vh;
  padding-top: 1.5%;
  background-color: white;
  border: 2px solid #1b3b48;
  border-radius: 15px 15px 15px 15px;
  font-size: 150%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#1b3b48;
  text-align: center;  
}

#right a:hover {
  border-color: #fdb939;
  color: #fdb939;
}

@media (max-width: 1000px) { 
  main {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }

  form {
    height: 100%;
    margin-top: 5vh; 
  }

  input {
    width: 90%;
    height: 4vh;
    margin-bottom: 2vh;
    border: 5px solid  #1b3b48;
    font-size: 250%;
  }

  #left {
    width: 100%;
    height: 30vh;
    text-align: center;
  } 

  #right {
    width: 100%;
    height: 50vh;
  }

  #message-input {
    height: 16vh;    
  }

  #right a {
    padding-top: 2%;
    border: 5px solid  #1b3b48;
    font-size: 325%;
  }
}