body{
  display:flex;
  flex-direction:column;   
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

main{
  display:  flex;
  flex-direction: row;
  height: 80vh;
  width: 100vw;
}

#left,  #right{
  width: 50vw;
  display: flex;
  align-items: center; 
  justify-content: center;  
}

#score{
display: flex;
flex-direction: row;
color: white;
width: 300px;
box-sizing: border-box;
margin-bottom: 5px;
padding-bottom: 20px;
}
#scoreleft{
  width: 90%
}
#scoreright{
  text-align: end;
  width: 10%
}
input {
width: 300px;
box-sizing: border-box;
margin-bottom: 5px;
padding: 5px;
}

#button {
  display: block;
  text-align: center;
  width: 100%; 
}
#board{
  background: url(img/madera.jpg) no-repeat;
  background-size: cover;
  border: solid 10px rgb(129, 78, 52); 
  border-radius: 5px; 
  
}

footer{
  position: fixed; 
  bottom: 0px;
  left: 0px;   
}

header, footer{
  display: flex;
  background-color: black;
  justify-content: center;
  font-size: 40px;
  font-style: italic;
  align-items: center;
  height: 10vh;
  width: 100vw;
  color: #fff;
	text-shadow:
    0 0 5px rgba(0,178,255,1),
    0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
}

.board button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border: 2px solid rgba(241, 217, 237, 0.952); 
  border-radius: 50px;
}

.board button.hidden{
  visibility: hidden;
}

.board button.peg{
  background-color: #C39BD3;   
}

.board button.peg:hover{
  background-color:rgb(108, 108, 155);
}

.board button.peg:active{
background-color: #000066;
}

.board button.hole{
  background-color:black;
  border: 2px solid black; 
}

.board button.selected{
  background-color:rgb(108, 108, 155); 
} 

.board button.suggestion {
  background-color: rgba(103, 241, 126, 0.822);
}


@media only screen and (max-width: 987px) {
  main {
    flex-direction: column;
  }
  #left, #right{
    width: 100vw;
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  #left{
    height: 65vh;
  }
  #score, input{
    padding: 0px;
    }
  #right{
    height: 15vh;
  }
  .board button {
    width: 35px;
    height: 35px;
    margin: 7px;
  }
}

@media only screen and (max-width: 480px) { 
  #left, #right{
    width: 480px;
    display: flex;
    align-items: center; 
    justify-content: center;    
  }
  
  #right{
    height: 15vh;
  }

  #left{
    height: 65vh;
  }

  .board button {
    width: 35px;
    height: 35px;
    margin: 7px;
  }
  header, footer{
    width: 480px;
  }
}
@media screen and (device-width: 360px) {
  #left, #right{
    width: 100vw;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 50vw;
  }

  #left{
    margin-bottom: -15vh;
    margin-top: -15vh;
  }
  input{
    height: 3vh;;
    width: 50vw;
  }

  #left{
    height: 80vh;
  }

  .board button {
    width: 80px;
    height: 80px;
    margin: 20px;
  }

  input, #button , #score{
    width: 90vw;
    height: 4vh;
    font-size: 3vh; 
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 5px;
  }


  header, footer{
    width: 100vw;
  }
}


