main {
  display: flex;
  flex-direction: row;
  height: 85vh;
  padding-top: 5vh;
  padding-left: 3vw;
  padding-right: 3vw;  
  background: linear-gradient(45deg, #ff649d57, #f5c779dc);
}

table {
  width: 70%;
  height: 30vh;
  margin-bottom: 3.5vh;
  background-color: rgba(128, 128, 128, 0.082); 
  border: 5px solid rgb(39, 39, 39);
}

#left-main {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-top: 45px;
}

#save-game {
  background: linear-gradient(0deg, #fd527d81, #ff55937c);
}

#reset-game {
  background: linear-gradient(0deg, #ff9b49a6, #ffb743b9);
}

#load-game {
  background: linear-gradient(0deg, #42a4ffa9, #43d3ffa6);
}

.left-buttons {
  width: 70%;
  height: 60px;
  margin-left: 30%;
  margin-bottom: 20px;
  border: 5px solid rgb(39, 39, 39);
  border-radius: 5px 15px 5px 15px;
  font-size: 225%;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1b3b48;
  text-align: center;
}

#middle-main {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50vw;
  padding-left: 3vw;
  padding-right: 3vw; 
}

.board {
  margin-top: 45px;
  background-color: #1b3b48;
  border: 10px solid rgb(39, 39, 39);
  border-radius: 15px 15px 15px 15px;
}

.board button {
  width: 6vh;
  height: 6vh;
  margin: 1.5vh;
  border-radius: 50px;
}

.board button.hidden {
  visibility: hidden;
}

.board button.peg {
  background: radial-gradient(white, #929292a9);
  border: 1px solid #000000;   
}

.board button.hole {
  background-color: black; 
  border: 1px solid #000000; 
}

.board button.selected {
  background: radial-gradient(#2b4869, #000000);
  border: 1px solid #000000;
}

.board button.suggestion {
  background: radial-gradient(#00ffaa, #000000);
  border: 1px solid #000000; 
}

.board button.peg:hover {
  background: radial-gradient(#69afff, #2b2929);
  border: 1px solid #97ffe9; 
}

#game-score {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 5vh;
  right: 11vw;
  font-size: 200%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(39, 39, 39);
}

#score-left {
  width: 90%;
  padding-right: 3vw;
  text-align: right; 
}

#score-right {
  width: 10%;
  text-align: right;  
}

#right-main {
  position: relative;
  width: 20vw;
}

#right-container {
  position: absolute;
  width: 100%;
  bottom: 2.5vh;
}

#table-img {
  width: 70%;
  text-align: center;
}

#table-img img {
  height: 100px;
}

#table-title {
  width: 70%;
  margin-bottom: 2vh;
  font-size: 200%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(39, 39, 39);
  text-align: center;
}

#leader-0 {
  background: linear-gradient(0deg, #fd527d81, #ff55937c);
  border-bottom: 1px solid #9c335a;
}

#leader-1 {
  background: linear-gradient(0deg, #ff9b49a6, #ffb743b9);
  border-bottom: 1px solid #ad7d2e;
}

#leader-2 {
  background: linear-gradient(0deg, #42a4ffa9, #43d3ffa6);
  border-bottom: 1px solid #296e83;
}

.third-leader {
  background: linear-gradient(0deg, #39d5c89f, #42eabab0);
  border-bottom: 1px solid #37a787;
}

.name, .score {
  height: 20%;
  font-size: 150%;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1b3b48;
  vertical-align:middle;
}

.name {
  width: 70%;
  padding-left: 15px;
  text-align: left;
  text-transform: lowercase;
}

.score {
  width: 30%;
  text-align: center;
}

#all-score {
  width: 70%;
  height: 8%;
  margin-bottom: 2vh;
  background: linear-gradient(0deg, #39d5c89f, #42eabab0);
  border: 5px solid rgb(39, 39, 39);
  border-radius: 5px 15px 5px 15px;
  font-size: 150%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1b3b48;
}

@media (max-width: 1000px) { 
  main {
    flex-direction: column;
  }

  table {
    width: 75%;
    height: 24vh;
    margin-left: 8%;
    margin-bottom: -30px; 
  }

  #left-main{
    order: 1;
    width: 50vw;
    height: 28%;
  } 

  #save-game, #reset-game, #load-game {
    margin-bottom: 10%;
  }

  .left-buttons {
    width: 70%;
    height: 100px;
    margin-left: 10%;
    font-size: 350%;
  }

  #middle-main {
    width: 100%;
    height: 72%;
    padding-left: 0;
    padding-right: 0;
    order: 3;  
  }

  .board button {
    width: 10vw;
    height: 10vw;
    margin: 1vw;
    border-radius: 50px;
  }

  #game-score {
    bottom: 2vh;
    right: 5.5vw;
    font-size: 400%;
  }
  
  #right-main {
    width: 44vw;
    margin-left: 56%;
    order: 2;  
  }

  #table-img, #all-score {
    display: none;
  }

  #table-title {
    margin-left: 8%;
    margin-bottom: 1vh;
    font-size: 300%;
    font-weight: bolder;
  }
  
  .name, .score {
    margin-top: -10px;
    font-size: 350%;
  }
}
